In [1]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', 4000)
pd.set_option('display.max_columns', 100)

In [2]:
df = pd.read_csv("wczo_id-modified-mcl.csv")
key = df['Column']
czo_id = df['5486']
variables = []
df1 = pd.DataFrame(columns=['Variable','Unit','Aggregations','czo_id'])

for i in range(0,len(key)):
    k = key[i]
    startingSpacesRemoved = re.sub('\s*$','',k)
    endingSpacesRemoved = re.sub('^\s*','',startingSpacesRemoved)
    pat = re.compile(" ")
    
    variables.append((pat.split(endingSpacesRemoved),czo_id[i]))

In [3]:
var = ""
unt = ""
flag = 0
units = ['ueql']
aggregations = []
x = 1
def tablePrint(var=" ",unt="NaN"):
        global x
        global i
        df1.loc[x,'Unit'] = unt
        df1.loc[x,'Variable'] = var
        df1.loc[x,'czo_id'] = variables[i][1]
        x+=1
for i in range(0,len(variables)):
    row = variables[i][0]
    rowLength = len(row)
    
    for j in range(len(units)):
        unit = units[j]
        unitsLength = len(units)
        var = ""
        unt = ""
        for k in range(0,rowLength):
            word = row[k]
            if word == unit:
                unt = word
                flag = 1
                
            elif var == "":
                var = word
            else:
                var = var+" "+word
                
        if flag != 0:
            tablePrint(var,unt)
            flag = 0
            break
#         if j == unitsLength-1:
#             tablePrint(var)

In [4]:
df1

                     Variable  Unit Aggregations czo_id
1                     acidity  ueql          NaN   6292
2  acid neutralizing capacity  ueql          NaN   6292
3                  alkalinity  ueql          NaN   6292
4                     calcium  ueql          NaN   4165
5                   potassium  ueql          NaN   4165
6                   magnesium  ueql          NaN   4165
7                     sulfate  ueql          NaN   4165