In [10]:
import pandas as pd
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_rows', 4000)
pd.set_option('display.max_columns', 100)

In [66]:
variablesTable = []

def fil_table(original, filtered):
    variable = {}
    variable["original"]=original
    variable["filtered"] = filtered
    add_variable(variable)

def add_variable(variable):
  variablesTable.append(variable)

In [20]:
df = pd.read_csv("/home/christian/Downloads/czo-datasets-metadata-2018-03-01c.csv")
key = df['VARIABLES']
keys = []
for i in range(0,len(key)):
    row = key[i].split('|')
    for j in range(0, len(row)):
        k = row[j].lower()
        k = k.replace("-", "")
        k = k.replace("#", "")
        k = k.replace(" ", "")
        k = k.replace("\t","")
        k = k.replace("(m)","")
        k = k.replace("_", "")
        keys.append(k)

In [46]:
d1 = {}
seen=set()
count = 0
for i in range(len(keys)):
    word = keys[i]
    if word not in seen:
        seen.add(word)
        
        for j in range(len(keys)):
            a_duplicate = keys[j]
            if (word == a_duplicate):
                count += 1   

        d1[word] = count
        count =0
        
d_sorted1 = sorted(d1.items(), key=lambda x: (-x[1], x[0]))

In [68]:
dictionar = [{'original':'calcium(g)', 'filtered':'calcium', 'removed':'(g)'},
             {'original':'airtemperature(k)', 'filtered':'airtemperature', 'removed':'(k)'}]
fil_table('calcium(g)', 'calcium')
fil_table('Air Temperature(K)','airtemperature')

In [69]:
seenList = list(seen)

with open('variablesOnly.txt','w') as f:
    f.write('\n'.join('%s' % x for x in seenList))

In [70]:
dfa = pd.DataFrame(variablesTable)
dfa

         filtered            original
0         calcium          calcium(g)
1  airtemperature  Air Temperature(K)
2         calcium          calcium(g)
3  airtemperature  Air Temperature(K)

In [ ]:
#Run this to create a txt file and store the list
with open('variables.txt', 'w') as fp:
    fp.write('\n'.join('%s %s' % x for x in d_sorted1))